# Version control
.git/
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environments
.venv/
venv/

# Testing / Coverage
.pytest_cache/
tests/
.coverage
coverage.xml
htmlcov/
.coveragerc
trimmed.png

# IDE
.idea/
.vscode/
.DS_Store

# Infrastructure / CI
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.github/
cloudbuild*.yaml
lv-digital-membership.tfvars

# Project-specific
.webassets-cache/
*.sqlite3
**/static/style.css
postgres-data/
tmp-certs/
docker-compose.yml
docs/

# Docker
Dockerfile
.dockerignore
.gcloudignore
