bigcommerce
cloud-sql-python-connector[pg8000]
codetiming
email-validator
flask
Flask-Assets
flask-cdn
Flask-Gravatar
flask-login>=0.6.2
Flask-Migrate
Flask-reCaptcha
flask-security
Flask-SQLAlchemy
google_cloud_logger
google-auth
google-cloud-firestore
google-cloud-logging
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage
gunicorn
html2image
libsass
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-propagator-gcp
psycopg2-binary
python-dateutil
python-jose
qrcode[pil]
requests
sendgrid
slack_bolt
slack_sdk
social-auth-app-flask
social-auth-app-flask-sqlalchemy
wallet-py3k
