Flask-Assets
Flask-Gravatar
Flask-SQLAlchemy
M2Crypto
cloud-sql-python-connector[pg8000]
flask
flask-login
google-auth
google-cloud-firestore
google-cloud-secret-manager
google_cloud_logger
gunicorn
libsass
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-flask # ==0.19b0
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-propagator-gcp
psycopg2
python-dateutil
qrcode[pil]
requests
social-auth-app-flask
social-auth-app-flask-sqlalchemy
wallet-py3k
