{% extends "base.html.j2" %}
{% set active_page = 'about' -%}

{% block content %}
{% call macros.content_grid() %}

<div class="membership-details-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    {{ macros.help_content() }}
  </div>
  <hr>
  <div class="mdl-card__actions mdla-card--border mdl-typography--text-right">

    <a class="mdl-button mdl-js-button mdl-button--colored" href="{{ url_for('home') }}"
       title="Click here to open the membership store in a new tab">
      Back Home
      <i class="material-icons">home</i>
    </a>
  </div>
</div>
{% endcall %}
{% endblock %}
