{% import 'macros.html.j2' as macros %}
{% set title_str %}{% block title %}Digital Membership Card - Los Verdes{% endblock %}{% endset %}
<!doctype html>
<!--
  Los Verdes Digital Membership Page
  Copyright 2025 Los Verdes. All rights reserved.
-->
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Digital membership card portal for members of the Los Verdes supporters group.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title_str }} - Digital Membership Card - Los Verdes</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ url_for('static', filename='material.green-light_green.min.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
  {% assets "style" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3YFLF9K9KG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3YFLF9K9KG');
  </script>

  <script defer src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- <script async src="{{ url_for('static', filename='dialog-polyfill.js')}}"></script> -->
  <script defer src="{{ url_for('static', filename='material.min.js') }}"></script>
  <script defer src="{{ url_for('static', filename='html2canvas.min.js')}}"></script>
  <script defer src="{{ url_for('static', filename='animated-details.js')}}"></script>
  <script defer src="{{ url_for('static', filename='dialog-polyfill.js')}}"></script>
  <script defer src="{{ url_for('static', filename='script.js')}}"></script>
  {% block head %}{% endblock %}
</head>

<body>

  <div class="lv-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="lv-header mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title mdl-layout--large-screen-only">{{ title_str }}</span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-button--icon" id="hdrbtn">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="hdrbtn">
          <a class="mdl-menu__item" href="https://github.com/los-verdes/digital-membership" target="_blank">
            Edit on GitHub
            &nbsp;&nbsp;&nbsp;
            <span class="material-icons">
              open_in_new
            </span>
          </a>
          <a class="mdl-menu__item" href="https://losverdesatx.org" target="_blank">
            Los Verdes - Main Site
            &nbsp;&nbsp;&nbsp;
            <span class="material-icons">
              open_in_new
            </span>
          </a>

          {% if current_user.is_authenticated %}
          <a id="logout" class="mdl-menu__item" href="{{ url_for('logout') }}">
            Logout
            &nbsp;&nbsp;&nbsp;
            <i class="material-icons">logout</i>
          </a>
          {% endif %}

        </ul>
      </div>
    </header>
    <div class="lv-drawer mdl-layout__drawer mdl-color--green">
      <header class="lv-drawer-header">
        <div class="lv-drawer-header-logo mdl-typography--text-center">
          <h5 class="live-laugh-love">Digital Membership</h5>
        </div>
        {% if current_user.is_authenticated %}
        <img src="{{ current_user.email | gravatar }}" class="lv-avatar">
        <div class="lv-avatar-dropdown">
          <span>{{ current_user.email }}</span>
          <div class="mdl-layout-spacer"></div>
          <button id="accbtn" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_drop_down</i>
            <span class="visuallyhidden">Accounts</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="accbtn">

            <a class="mdl-menu__item mdl-navigation__link update-name-dialog-link">
              <i class="material-icons">edit</i>
              Update Display Name
            </a>

            <a id="logout" class="mdl-menu__item mdl-navigation__link " href="{{ url_for('logout') }}">
              <i class="material-icons">logout</i>
              Logout
            </a>

            {% set association = associated.get("google-oauth2") %}
            {% if association %}
            <form id="google-oauth2-disconnect" class="disconnect-form"
                  action="{{ url('social:disconnect_individual', backend=association.provider, association_id=association.id) }}" method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="">
              <a class="mdl-menu__item mdl-navigation__link disconnect-auth-btn" name="google oauth2" href="#">
                <i class="material-icons">remove_circle_outline</i>
                Disconnect Google Account
              </a>
            </form>
            <!-- End if association -->
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </header>
      <nav class="lv-navigation mdl-navigation mdl-color--green-50">
        {% set navigation_bar = [
        ('home', 'home', 'Home', ''),
        ('admin_dashboard', 'admin_panel_settings', 'Admin Dashboard', 'admin'),
        ('__layout_spacer__', '---', '---', ''),
        ('about', 'help_outline', 'Help & About', ''),
        ] -%}
        <!-- ('privacy_policy', 'policy', 'Privacy Policy'), -->
        {% set active_page = active_page|default('home') -%}

        {% for route, icon, caption, required_role in navigation_bar %}
        {% if route == "__layout_spacer__" %}
        <div class="mdl-layout-spacer"></div>

        {% elif required_role == "" or current_user.has_role(required_role) %}
        <a class="mdl-navigation__link{% if active_page == route %} mdl-navigation__link-active{% endif %}" href="{{ url_for(route) }}">
          <i class="mdl-color-text--green material-icons" role="presentation">
            {{ icon }}
          </i>
          {{ caption }}
        </a>
        {% endif %}
        {% endfor %}


        {% if current_user.is_authenticated %}
        <a class="mdl-navigation__link" href="{{ url_for('logout') }}">
          <i class="mdl-color-text--green material-icons" role="presentation">
            logout
          </i>
          Logout
        </a>
        {% endif %}
      </nav>
    </div>

    <main class="mdl-layout__content">
      <div class="page-content">

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages if not category.startswith("form-") %}
            <div class="flash-box form-messages {{ category }}-flash mdl-typography--text-center">
              <h4 class="form-message">
                {{ message }}
              </h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
          </div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        </div>

        {% block content required %}
        {% endblock %}
      </div>
    </main>

    {% block footer %}
    <!-- <footer class="mdl-mini-footer mdl-color--grey-600">
      <div class="mdl-mini-footer__right-section mdl-color-text--green">
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="{{ url_for('privacy_policy') }}">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer> -->
    {% endblock %}

    <!-- End of "outer" div that holds our entire layout -->
  </div>

  <dialog id="edit-user-name-dialog" class="mdl-dialog">
    <h3 class="mdl-dialog__title">Edit Display Name</h3>
    <div class="mdl-dialog__content">
      <p>
        You can change the name displayed on your membership card using the form below:
      </p>
      <hr>
      <form id="editUserNameForm" action="{{ url_for('edit_user_name_request') }}" method="post">
        <div class="mdl-grid">

          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="newFirstName" name="newFirstName" class="mdl-textfield__input" type="text" value="{{ current_user.first_name }}">
              <label class="mdl-textfield__label" for="newFirstName">First Name</label>
              <span id="firstNameError" class="mdl-textfield__error">Please enter a valid "first name" value before submitting.</span>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="newLastName" name="newLastName" class="mdl-textfield__input" type="text" value="{{ current_user.last_name }}">
              <label class="mdl-textfield__label" for="newLastName">Last Name</label>
              <span id="lastNameError" class="mdl-textfield__error">Please enter a valid "last name" value before submitting.</span>
            </div>
          </div>

        </div>

      </form>
    </div>
    <div class="mdl-dialog__actions">
      <!-- <button type="button" class="mdl-button">Save</button> -->
      <button id="editUserNameSubmitBtn" class="mdl-button mdl-js-button mdl-button--colored">
        Save Changes
      </button>
      <div id="editUserNameProgressBar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="display:none;"></div>
      <button id="discard-button" type="button" class="mdl-button mdl-js-button">Discard</button>
    </div>
  </dialog>

  <script>
    window.onload = function () {
      document.querySelectorAll('details').forEach((el) => {
        new Accordion(el);
      });

      var editUserNameDialog = document.querySelector('#edit-user-name-dialog');
      if (!editUserNameDialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
      }
      document.querySelectorAll('.update-name-dialog-link').forEach((editUserNameDialogLink) => {
        editUserNameDialogLink.addEventListener('click', function () {
          document.getElementById("editUserNameProgressBar").style.display = "none";
          editUserNameDialog.showModal();
        });
      });
      editUserNameDialog.querySelector('#discard-button').addEventListener('click', function () {
        editUserNameDialog.close();
      });
      editUserNameDialog.querySelector('#editUserNameSubmitBtn').addEventListener('click', function (event) {
        document.getElementById("editUserNameProgressBar").style.display = "block";
        document.getElementById("editUserNameForm").submit();
      });

      $('.flash-box').delay(10000).fadeOut("slow");
    }
  </script>

  {% block before_body_close %}{% endblock %}
</body>

</html>
