{% extends "base.html.j2" %}

{% block content %}
{% call macros.content_grid(middle_column_size=8) %}
<div class="mdl-grid mdl-grid--no-spacing login">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--hide-tablet mdl-cell--hide-phone">

    <div class="mdl-card mdl-shadow--2dp email-request-landing-side-cover">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card login-card mdl-shadow--2dp login-signin-panel">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <img class="lv-horizontal-logo-large"
               src="{{ url_for('static', filename='LosVerdes_Logo_RGB_300_Horizontal_VerdeOnTransparent_CityYear.png') }}">
        </h2>
      </div>
      <div class="mdl-card__supporting-text">

        <h4>
          {{ email_form_message }}
        </h4>
        {% if request_accepted %}

        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">email</i>

        {% else %}
        REQUEST REJECTED NAY
        {% endif %}
        <br>
        <br>
        <br>
      </div>
      <!-- <div class="mdl-card__actions mdla-card--border mdl-typography--text-right">
        <span class="vhlm">Verde Hast La Muerte</span>
      </div> -->
    </div>

  </div>

</div>
{% endcall %}
{% endblock %}
