{% import 'macros.html' as macros %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Los Verdes - Digital Membership Card</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-light_green.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='material.min.css') }}"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
  {% assets "style" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header lv-header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title mdl-layout--large-screen-only">Los Verdes Membership Card</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation">
          {% if user.is_authenticated %}
          <a class="mdl-navigation__link" href="/logout/" id="logout">
            <span title="Log out"><i class="material-icons">logout</i></span>
          </a>
          {% else %}
          <!-- <i class="material-icons">event</i>
          &nbsp;
          Login with Google OAuth2
        </a>
        <div class="google-btn"> -->
          <!-- {{ macros.sign_in_button() }} -->
          {% endif %}
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Digital Membership</span>
      <nav class="mdl-navigation">

        {% set association = associated.get("google-oauth2") %}
        {% if association %}
        <form id="google-oauth2-disconnect" class="disconnect-form col-md-2" action="/disconnect/google-oauth2/1/"
          method="post">
          <input type="hidden" name="csrfmiddlewaretoken" value="">
          <a class="mdl-navigation__link" name="google oauth2" href="#">
            <i class="fa fa-google"></i>
            Disconnect Google OAuth2
          </a>
        </form>
        {% else %}

        {{ macros.sign_in_button() }}
        {% endif %}
        <span class="mdl-navigation__link">
          <b>last data refresh</b>
          <br>
          wheneves!
        </span>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">

          <!-- <div class="mdl-layout-spacer"></div> -->

          {% if user.is_authenticated %}
          {{ macros.membership_card(current_user, memberships, member_since_dt) }}
          {% else %}
          <div class="signin-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h4>
                Los Verdes Digital Membership Card
              </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-layout-spacer"></div>
              Sign in to display your card
              <i class="material-icons">chevron_right</i>
              <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Sign in to display your card
                <i class="material-icons">login</i>
              </a> -->

              {{ macros.sign_in_button() }}
            </div>
          </div>
          <!-- <div class="mdl-layout-spacer"></div> -->
          <!-- <div class="signin-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h4>
                Sign in to view your Los Verdes membership card
              </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              {{ macros.sign_in_button() }}
            </div>
          </div>
          <div class="mdl-layout-spacer"></div>
          <br>
          <div class="signin-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h4>
                Sign in to view your Los Verdes membership card
              </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                <img class="material-icons" src="{{ url_for('static', filename='google_g_logo.svg') }}" />
                Sign in with Google
              </a>
              <div class="mdl-layout-spacer"></div>
              <i class="material-icons">login</i> -->
        </div>
      </div> -->

      {% endif %}

      <div class="mdl-layout-spacer"></div>

  </div>
  </main>
  <!-- <footer class="mdl-mega-footer">
      {% block footer %}{% endblock %}
    </footer> -->
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.disconnect-form').on('click', 'a.mdl-navigation__link', function (event) {
        event.preventDefault();
        $(event.target).closest('form').submit();
      });
    });
  </script>
</body>

</html>
