{% extends "base.html.j2" %}
{% block title %}Login / Email Distribution - {% endblock %}
{% block head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
{% call macros.content_grid(middle_column_size=8) %}
<div class="mdl-grid login">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--hide-tablet mdl-cell--hide-phone">

    <div class="mdl-card mdl-shadow--2dp login-side-cover">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card login-card mdl-shadow--2dp login-signin-panel">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <img class="lv-horizontal-logo-large" src="{{ url_for('static', filename='LosVerdes_Logo_RGB_300_Horizontal_VerdeOnTransparent_CityYear.png') }}">
        </h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar">
            <a href="#membership-cards-panel" class="mdl-tabs__tab is-active">Membership Cards</a>
            <a href="#about-panel" class="mdl-tabs__tab">About</a>
          </div>

          <div class="mdl-tabs__panel is-active" id="membership-cards-panel">
            <h4>
              Welcome Verdes!
            </h4>
            Digital membership cards can be obtained by either:
            <ol>
              <li>
                <strong class="mdl-color-text--green">Email</strong>
                <br>
                Have a image and Google Pay / Apple wallet passes links for your membership card sent via email:
                <form id="emailDistributionRequestForm" action="{{ url_for('email_distribution_request') }}" method="post">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="emailDistributionRecipient" name="emailDistributionRecipient" class="mdl-textfield__input" type="email">
                    <label class="mdl-textfield__label" for="emailDistributionRecipient">E-mail</label>
                    <span id="emailDistributionRecipientError" class="mdl-textfield__error">Please enter a valid email
                      before submitting.</span>
                  </div>
                  <div class="error-messages mdl-color-text--red">{{ email_form_error_message }}</div>
                  <div id='recaptcha' class="g-recaptcha" data-callback="onSubmit" data-expired-callback="onCaptchaExpired" data-error-callback="onCaptchaError"
                       data-sitekey="{{ recaptcha_site_key }}" data-size="invisible">
                  </div>
                  <div class="mdl-typography--text-bottom	mdl-typography--text-right">
                    <button id="emailDistributionSubmitBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">Submit Email
                      Request</button>
                    <div id="emailDistributionProgressBar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="display:none;"></div>
                  </div>
                </form>
              </li>

              <br>
              <hr>
              <br>

              <li>
                <strong class="mdl-color-text--green">Website</strong>
                <br>
                Login to access the Los Verdes membership portal and retrieve your membership card:
                <br>
                <br>
                <div class="mdl-typography--text-bottom	mdl-typography--text-right">
                  {{ macros.sign_in_button() }}
                </div>
              </li>
            </ol>
            <br>
            <br>
            <br>
          </div>

          <div class="mdl-tabs__panel" id="about-panel">
            <div id="about-panel-content" style="display: none;">
              {{ macros.help_content() }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="toastSnackbar" class="mdl-js-snackbar mdl-snackbar">
  <div id="toastSnackbarContent" class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endcall %}
{% endblock %}

{% block before_body_close %}
<script>
  window.onload = function () {
    document.getElementById("about-panel-content").style.display = "block";
    distributionFormOnload();
  }
</script>
{% endblock %}
