{% macro content_grid() %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    {{ caller() }}
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
</div>
{% endmacro %}

{% macro sign_in_button() %}
<a class="google-btn" id="google-oauth2-button" name="google oauth2" href="/login/google-oauth2/">
  <div class="google-icon-wrapper">
    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
  </div>
  <p class="btn-text"><b>Sign in with Google</b></p>
</a>
{% endmacro %}
