{% macro membership_card(user, membership, member_since_dt) %}
<div class="members-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Los Verdes<br>Member Since {{member_since_dt.strftime("%b %Y")}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    User:
    {{ user.fullname }}
    {{ user.email }}
    {{ user.active }}
    {{ user.join_date }}
    <hr>
    Membership:
    {{ membership.to_dict() }}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">download</i> Google Pay
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">download</i> Apple Pay
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
{% endmacro %}

{% macro sign_in_button() %}
<a class="google-btn" id="google-oauth2-button" name="google oauth2" href="/login/google-oauth2/">
  <div class="google-icon-wrapper">
    <img class="google-icon"
      src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
  </div>
  <p class="btn-text"><b>Sign in with Google</b></p>
</a>
{% endmacro %}
