{% extends "base.html.j2" %}

{% block content %}
{% call macros.content_grid() %}
{{
  macros.membership_card(
    title="Los Verdes Membership Card",
    primary_info_text=membership_card.user.fullname,
    secondary_info_text="Member Since " ~ membership_card.member_since.strftime('%b %Y'),
    serial_number=membership_card.serial_number,
    aux_info_text="Good through " ~ membership_card.member_until.strftime('%b %d, %Y'),
    qr_code_b64_png=membership_card.qr_code_b64_png,
  )
}}
{% endcall %}

{% call macros.content_grid() %}
<div class="membership-details-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <h4 class="vhlm">Membership History</h4>
    <hr>

    <ul class="mdl-list">

      {% for membership_order in membership_orders %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">{% if membership_order.is_active %}verified{% else
            %}check_circle_outline{% endif %}</i>
          <details>
            <summary class="mdl-button mdl-js-button mdl-button--raised"
                     id="membership-details-{{ membership_order.id }}">
              Order #{{ membership_order.order_number }} - {{ membership_order.product_name }}
              ({{ membership_order.created_on.strftime("%x") }})
            </summary>
            <ul class="mdl-list">
              {% for key, value in membership_order.to_dict().items() %}
              <li class="mdl-list__item mdl-list__item--two-line">
                <span class="mdl-list__item-primary-content">
                  <span class="mdl-list__item-sub-title"><strong>{{ key | replace("_", " ") | title }}</strong></span>
                  <span>{{ value }}</span>
                </span>
              </li>
              {% endfor %}
            </ul>
          </details>
        </span>
      </li>
      {% endfor %}

    </ul>

    <h4 class="vhlm">Verde Hasta La Muerte</h4>
    <hr>
    <details>
      <summary class="mdl-button mdl-js-button mdl-button--raised" id="user-details-{{ current_user.id }}">User
        Details
      </summary>

      <ul class="mdl-list">
        {% for key, value in current_user.to_dict().items() %}
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <span class="mdl-list__item-sub-title"><strong>{{ key | replace("_", " ") | title }}</strong></span>
            <span>{{ value }}</span>
          </span>
        </li>
        {% endfor %}
      </ul>
    </details>

  </div>
</div>
{% endcall %}
{% endblock %}
