{% extends "base.html.j2" %}

{% block title %}Card Downloads & Membership History{% endblock %}

{% block content %}
{% call macros.content_grid() %}

{{ macros.form_message_heading(form_message) }}
<div id="save-as-screenshot-window">
  {{
  macros.membership_card(
    title="Los Verdes Membership Card",
    primary_info_text=membership_card.user.fullname,
    secondary_info_text="Member Since " ~ membership_card.member_since.strftime('%b %Y'),
    serial_number=membership_card.serial_number,
    aux_info_text="Good through " ~ membership_card.member_until.strftime('%b %d, %Y'),
    qr_code_b64_png=membership_card.qr_code_b64_png,
  )
}}
</div>
{% endcall %}
{% call macros.content_grid() %}
{{ macros.membership_history_and_user_details(membership_orders, current_user)  }}
{% endcall %}

{% endblock %}
