{% extends "base.html.j2" %}

{% block content %}


{% call macros.content_grid() %}
{{
  macros.membership_card(
    title="Los Verdes Membership Card",
    primary_info_text="YOUR NAME HERE",
    secondary_info_text="Member Since today??",
    serial_number="sample-purposes-only",
    aux_info_text="",
    qr_code_b64_png="",
    validation_msg="SAMPLE CARD",
    above_card_heading="No Active Membership Found!",
    show_card_actions_bar=False,
  )
}}
<div class="mdl-card mdl-shadow--2dp mdl-cell--middle">
  <div class="mdl-card__supporting-text">
    <h5>
      No active membership found for {{ user.email }}
    </h5>
    <h6>
      If you believe this information is incorrect:
    </h6>
    <hr>
    {{ macros.troubleshooting_list() }}
  </div>
</div>
{% endcall %}
{% endblock %}
