{% extends "base.html.j2" %}
{% block title %}No Membership Found{% endblock %}
{% block content %}


{% call macros.content_grid() %}

{{ macros.form_message_heading() }}
{{
  macros.membership_card(
    title="Los Verdes Membership Card",
    primary_info_text="YOUR NAME HERE",
    secondary_info_text="Member Since today??",
    serial_number="sample-purposes-only",
    aux_info_text="",
    qr_code_b64_png="",
    validation_msg="SAMPLE CARD",
    above_card_heading="No Active Membership Found!",
    show_card_actions_bar=False,
  )
}}
<div class="mdl-card mdl-shadow--2dp mdl-cell--middle">
  <div class="mdl-card__supporting-text">
    <h5>
      No active membership found for:<wbr><strong class="email-address">{{ user.email }}</strong>
    </h5>
    <h6>
      If you believe is incorrect, please feel free to consult our troubleshooting list below:
    </h6>
    <hr>
    {{ macros.troubleshooting_list() }}
  </div>
</div>
{% endcall %}

{% call macros.content_grid() %}
{{ macros.membership_history_and_user_details(membership_orders, current_user)  }}
{% endcall %}

{% endblock %}
