$bright-verde: #00b140;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.members-card-wide.mdl-card {
  width: 100%;
  // max-width: 350px;
}
.membership-details-card.mdl-card {
  width: 100%;
}

.members-card-wide > .mdl-card__title {
  color: rgb(0, 0, 0);
  // height: 200px;
  background: url("sangramos_pattern_small_clip.png") center / cover;
  // display: block;
  .mdl-grid {
    width: 100%;
    // padding-top: 25px;
    // padding-bottom: 25px;
  }
}

.lv-crest {
  // background: no-repeat 0% 0%/50% url("lv_onverde.png");
  // max-width: 75%;
  // max-height: 25%;
  // max-height: 25%;
  padding-left: 15px;
  padding-top: 10px;
  width: 50px;
  min-width: 35%;
  max-width: 100%;
}

.members-card-wide > .mdl-card__menu {
  color: #fff;
}

.live-laugh-love-large {
  font-family: "Bungee";
  color: white;
  font-size: x-large;
}

.live-laugh-love {
  font-family: "Bungee";
  color: white;
  // font-size: large;
  // -webkit-text-stroke-width: 2px;
  // -webkit-text-stroke-color: rgba($bright-verde, 0.7);
  // color: $bright-verde;
  // background-color: rgba(0, 0, 0, 0.25);
}

.vhlm {
  font-family: "Almendra Display", cursive;
  color: black;
  font-size: x-large;
  // font-weight: bolder;
}

.signin-card.mdl-card {
  width: 512px;
  height: 256px;
  // background: $bright-verde;
  background-image: linear-gradient(125deg, black, $bright-verde);
}
.signin-card > .mdl-card__actions {
  border-color: rgb(0, 0, 0);
}
.signin-card > .mdl-card__title {
  align-items: flex-start;
}
.signin-card > .mdl-card__title > h4 {
  margin-top: 0;
}
.signin-card > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.signin-card > .mdl-card__actions > .mdl-button {
  // width: 100%;
  text-align: right;
}
.signin-card > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.signin-card > .mdl-card__title,
.signin-card > .mdl-card__actions,
.signin-card > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.lv-header.mdl-layout__header {
  background-color: #00b140;
}
