$bright-verde: #00b140;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.mdl-card > .mdl-card__title {
  color: black;
}
.mdl-card {
  width: 100%;

  a {
    color: $bright-verde;
  }
}

a {
  color: $bright-verde;
}
.google-sign-in-button {
  > img {
    max-height: 46px;
  }
}

// .mdl-dialog {
//   width: 75vw;
// }

.lv-crest {
  background-image: url("lv_onverde.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.mdl-tabs__tab-bar {
  justify-content: left;
}
// .login {
//   ~
// }
.login {
  min-height: 50vh;
}
.login-side-cover {
  // background: url("login_side_cover.png") center / cover;
  background: url("small_lv_hands.png") center / 75%;
  background-repeat: no-repeat;
  // min-height: calc(300px);
  height: 100%;
}

.email-request-landing-side-cover {
  // background: url("login_side_cover.png") center / cover;
  background: url("LosVerdes_Logo_RGB_300_Stack_BlackOnTransparent.png") center / fit;
  background-repeat: no-repeat;
  // min-height: calc(300px);
  height: 100%;
}

.login-signin-panel {
  height: 100%;
}

div.qr-code {
  margin: 0px;
  > img {
    display: none;
    object-fit: contain;
    width: 100%;
  }
  > small {
    color: $bright-verde;
    font-size: 0.3vw;
    font-family: monospace;
  }
}

.mdl-mini-footer {
  padding-top: 2px;
  padding-bottom: 2px;
}

div.lv-drawer-header-logo {
  background: url("LosVerdes_Logo_RGB_300_Horizontal_BlackOnTransparent_CityYear_logo@2x.png") center / contain;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

img.lv-horizontal-logo-small {
  max-height: 29px;
}

img.lv-horizontal-logo {
  max-height: 57px;
}

.troubleshooting-list {
  > .mdl-list__item--three-line {
    height: 125px;
  }
}

.login-card > .mdl-card__title {
  justify-content: center;
}

img.lv-horizontal-logo-large {
  max-height: 100px;
  max-width: 100%;
}

div.membership-card {
  // For maintaining desired aspect ratio
  position: relative;
  min-width: 300px;
  width: 50vh;

  background: url("sangramos_pattern_small_clip.png") center / cover;
  border: 3mm outset rgba($bright-verde, 0.6);
  border-radius: 20px;
}

.mdl-navigation__link-active {
  background-color: #00b1416d;
}

div.membership-card > .membership-card-inner {
  padding-bottom: 64.06%; /* 3.370:2.125 aspect ratio */

  // color: white;
}

.members-card-wide.mdl-card {
  background-color: transparent;
}
.membership-card-inner > .mdl-grid {
  // height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.members-card-wide > .mdl-card__title {
  justify-content: center;

  h3 {
    // font-size: 3vh;
    font-size: calc(12px + 1.5vh);
    line-height: calc(4px + 3vh);
    margin: 0px;
  }
}

.mdl-button--fab.mdl-button--colored {
  background-color: $bright-verde;
}

.live-laugh-love-large {
  font-family: "Bungee";
  color: white;
  font-size: calc(8px + 2.5vh);
}

.live-laugh-love {
  font-family: "Bungee";
  color: white;
  font-size: calc(8px + 1vh);

  > small {
    font-size: calc(6px + 0.75vh);
  }
}

.houschka {
  font-family: houschka-rounded, sans-serif;
  font-style: normal;
  font-weight: 900;
}

.validation-overlay {
  transform: rotate(325deg);
  transform-origin: left, top;
  -ms-transform: rotate(325deg);
  -ms-transform-origin: right, top;
  -webkit-transform: rotate(325deg);
  -webkit-transform-origin: right, top;
  position: absolute;
  color: $bright-verde;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(black, 0.75);
}

.vhlm {
  font-family: "Almendra Display", cursive;
  color: black;
  font-weight: 2000;
  font-size: 3vh;
  line-height: 3vh;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.lv-header.mdl-layout__header {
  background-color: $bright-verde !important;
}

.mdl-color--green {
  background-color: $bright-verde !important;
}

// May not need all these bits?
// Pulled from yonder template: https://getmdl.io/templates/dashboard/index.html
.lv-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.lv-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.lv-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.lv-drawer .mdl-menu__container {
  z-index: -1;
}
.lv-drawer .lv-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.lv-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.lv-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  justify-content: center;
  padding: 16px;
  height: 151px;
}
.lv-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.lv-navigation {
  flex-grow: 1;
}
.lv-layout .lv-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  // color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.mdl-navigation__link:hover {
  background-color: $bright-verde;
  color: #000000;
}

.lv-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  // color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.lv-content {
  max-width: 1080px;
}

details {
  padding-bottom: 5px;
}

details summary {
  cursor: pointer;
}
details > summary {
  background-color: #00b1415a;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

details > summary > * {
  display: inline;
}

details > div {
  border: 2px solid #00b1415a;
  margin-top: 0;
  padding: 1rem;
}

.about-card {
  > .mdl-card__title {
    height: 175px;
    background-image: url("lv_hands.png");
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #00b140;
  }
}
