---
name: Run Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: "tests-for-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  run-tests:
    name: "Run Tests"
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: lv-digital-membership-tests
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5433:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup just
        uses: extractions/setup-just@v1

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Utilize pip cache
        uses: actions/cache@v3
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-pip-${{ hashFiles('requirements-test.txt') }}

      - name: Run Tests
        run: just ci-test
        env:
          pytest_github_report: true
          pytest_report_title: ":tada: Membership Card Test Results :tada:"
          pytest_passed_emoji: ":green_heart:"
          pytest_failed_emoji: ":heart:"
          pytest_xpassed_emoji: ":bangbang:"
          pytest_xfailed_emoji: ":bangbang:"
          pytest_skipped_emoji: ":shipit:"
          pytest_verbosity: 2
          GITHUB_PAT: ${{ secrets.GH_PAT }}
          PGHOST: "127.0.0.1"
          PGPORT: "5433"
          PGPASSWORD: "postgres"
          POSTGRES_USER: "postgres"
          POSTGRES_DB: lv-digital-membership-tests
          # PYTEST_RUN_PATH: tests

      - name: Upload unit tests coverage artifacts
        uses: actions/upload-artifact@v3
        with:
          name: run-tests-coverage.xml
          path: coverage.xml
          if-no-files-found: error

  upload-to-codecov:
    name: Upload to Codecov
    runs-on: ubuntu-latest
    needs:
      - run-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifacts
        uses: actions/download-artifact@v2

      - name: Upload to Codecov
        uses: codecov/codecov-action@v3
